# See link0.conf.example for description of the options
#######################################################

USE_DPDK=1
DPDK_QUEUES_COUNT=8
DPDK_LCORES="(0-7)@(0,2,4,6,8,10,12,14)"
DPDK_EXTRA_EAL="--file-prefix 0000:17:00.0"
DPDK_OPTS="m=2000;b=2048"
DPDK_DEVICE="0000:17:00.0,rxhdr_dynfield=1,reta_index_global=1,queue_driver=native"
DPDK_PORT=0
PROCESS=(pstats tls http ssdp "dnssd;txt")
CACHE_SIZE=17
ACTIVE_TIMEOUT=300
INACTIVE_TIMEOUT=65
LINK=0
DIR=0
HOST=127.0.0.1
PORT=4739
UDP=yes

