---
title: Developer info
heading: Developer info   
---


{% assign sorted_developers = site.developer | sort: 'title' %}
<section style="padding:0px; padding-bottom:100px">
  <div class="container"> 
    <div class="blog-post text-container">
	  <p>The architecture of the ipfixprobe can be described by the following diagram:</p>
	  <img src="/images/ipfixprobe_architecture.jpg" style = "width: 100%;">
      <p>Process plugin can export data. Export format of each plugin is described in this section</p>
      <div class="text editable" style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
      {% for export_table in sorted_developers  %} 
      <hr>
      <p class="post-details"></p>
      <h1 id = "{{export_table.title}}" >{{export_table.title}}</h1>
	  {% assign textId = export_table.title | append: "_text" %}
      <p id = "{{textId}}" class = "hidden">{{export_table.description}}</p>
	  {% assign tableId = export_table.title | append: "_table" %}
      <table id = "{{tableId}}" class = "hidden">
    <thead>
    <tr>
      <th>Output field</th>
      <th>Type</th>
      <th>IPFIX Enterprise number/ID</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {% for row in export_table.fields  %} 
    <tr>
      <td>{{row.name}}</td>
      <td>{{row.type}}</td>
      <td>{{row.ipfix}}</td>
      <td>{{row.value}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
      {% endfor %}
    </div>
  </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll("h1").forEach(function (toggleButton) {
      const description = document.getElementById(toggleButton.id + "_text");
      const table = document.getElementById(toggleButton.id + "_table");

      toggleButton.addEventListener("click", function () {
        description.classList.toggle("hidden");
        table.classList.toggle("hidden");
      });
    });
  });
</script>
