---
title: How to use ipfixprobe
heading: ipfixprobe usage
---

<section style="padding:0px; padding-bottom:100px">
<div class="container">	
	<div class="blog-post text-container">
<p>The ipfixprobe consists of one <b>input</b>, zero or one <b>output</b>, one <b>storage</b> and zero or more <b>process</b> plugins.	</p>
{% for plugin in site.how  %}
	<div class="text editable">
		<p class="post-details"></p>	
		<h1 style="float:'left'"><strong>{{ plugin.title | raw }}</strong></h1>
		<p>{{ plugin.description | raw }}</p>
	</div>	
    {% for option in plugin.options  %}
		<hr>
        <h2> {{ option.title }}</h2>
        <p>{{ option.description }}</p>
		{% if plugin.options %}
			<span style="background-color: #ffe59e;" >
			Command line parameters used by <b>{{ option.title }} plugin</b>:<br>
			{% for parameter in option.parameters  %}
				<b>{{ parameter.name | raw }}</b> : {{ parameter.description}}<br>
    		{% endfor %}
    		</span>
		{% endif %}
        {% for run in option.runs  %}
        	<span>
        		<p> {{ run.explanation }}</p>
        		<p style = "font-family: monospace;">{{ run.code }}</p>
        	</span>
    	{% endfor %}
    {% endfor %}
{% endfor %}
</div>
</div>
</section>