

section span {
	background-color: #eee;
	border: 1px solid #999;
	display: block;
	padding: 20px;
	margin-bottom: 10px;
  }

p {
	font-weight: normal;
  }
  
hr {
	margin-top: 10px;
	width: 100%;
  }