

section span {
	background-color: #eee;
	border: 1px solid #999;
	display: block;
	padding: 20px;
	margin-bottom: 10px;
  }

p {
	font-weight: normal;
	margin: 0px;
  }
  
hr {
	margin-top: 10px;
	width: 100%;
  }
ul, ol {
	margin: 0.25em 0 0 0;

  }

h2 {
	font-size: 1.5em;
	margin: 0.5em 0 0.5em 0;
  }